body {
  background-color: lightgray; }

.jumbotron {
  background: url("../img/snookback.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 650px;
  margin-bottom: 0px; }

.row {
  background: url("../img/sec3_back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.jumbotron .container {
  max-width: 40rem;
  background: black;
  padding: 4rem;
  color: #FFFFCF; }

.footer-copyright a {
  color: snow; }

.text {
  padding: 5rem; }
