@mixin bgimage_size($imagepath) {
    background: url($imagepath) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin para_height {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    max-height: 80px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.bg_snooker {
    .container {
        .row {
            p {
                @include para_height;
            }
        }
    }
}

.jumbotron {
    @include bgimage_size('../img/snookback.jpg');
    height: 650px;
    margin-bottom: 0px;
    .container {
        padding: 1.5rem !important;
    }
}

.bg_snooker {
    @include bgimage_size('../img/sec3_back.jpg');
}

.jumbotron .container {
    max-width: 40rem;
    background: black;
    padding: 4rem;
    color: #FFFFCF;
}

.foot {
    width: 100%;
    overflow: hidden;
}