@mixin bgimage_size($imagepath) {
    background: url($imagepath) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.jumbotron {
    @include bgimage_size('../img/snookback.jpg');
    height: 650px;
    margin-bottom: 0px;
}

.bg_snooker {
    @include bgimage_size('../img/sec3_back.jpg');
}

.jumbotron .container {
    max-width: 40rem;
    background: black;
    padding: 4rem;
    color: #FFFFCF;
}

.foot {
    width: 100%;
    overflow: hidden;
}