.jumbotron {
    background: url('../img/snookback.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 650px;
    margin-bottom: 0px;
}

.bg_snooker {
    background: url('../img/sec3_back.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.jumbotron .container {
    max-width: 40rem;
    background: black;
    padding: 4rem;
    color: #FFFFCF;
}

.text {
    padding: 5rem;
}

.foot {
    width: 100%;
    overflow: hidden;
}

.foot {
    a {
        color: aliceblue;
    }
}